<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/nav.ejs') %>
            <div class="container">
                <h1 class="text-center text-success">A Confirmation Sent To your Email</h1>
            </div>
            <%- include('../includes/end.ejs') %>