<%- include('includes/head.ejs')%>

    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <h1 class="text-danger text-center">Some Error Occurd !</h1>
                    <p class="text-warning text-center">We Are Working On It !</p>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
        <%- include('includes/end.ejs')%>